.intro {
	display: flex;
	max-width: 75%;
	margin: 6rem auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 60vh;
}

.intro div {
	height: 60vh;
	overflow: hidden;
	margin: auto;
}

section .intro-desc {
	width: 40%;
}

.intro h5 {
	text-transform: uppercase;
	color: #14bf98;
	font: 500 0.8125rem/1.125rem 'Montserrat', sans-serif;
	margin-top: 2rem;
}

.intro h4 {
	font: 700 1rem/1.375rem 'Montserrat', sans-serif;
	color: #484a46;
}

.intro div img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	transition: 0.5s ease-in-out;
}

.intro div img:hover {
	transform: scale(1.2);
}

.intro div h1 {
	margin-bottom: 1.375rem;
	color: #484a46;
	font: 700 1.75rem/2.125rem 'Montserrat', sans-serif;
}

.intro p {
	color: #787976;
	font: 400 1rem/1.5625rem 'Open Sans', sans-serif;
	margin-bottom: 1rem;
}

p.italic {
	font-style: italic;
}

.sub-intro {
	display: flex;
	margin: 10vh auto;
	max-width: 75%;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
}

.sub-intro > div {
	width: 300px;
}

.hexagon {
	width: 100px;
	height: 100px;
	background: url(.hexagon-green.svg) center center no-repeat;
	display: grid;
	place-content: center;
	transition: 0.3s ease-in-out;
	margin-bottom: 1rem;
}

.sub-intro h3 {
	color: #484a46;
	font: 700 1.25rem/1.625rem 'Montserrat', sans-serif;
	margin-bottom: 0.625rem;
}

.sub-intro p {
	color: #787976;
	font: 400 1rem/1.5625rem 'Open Sans', sans-serif;
}

.hexagon > i {
	font-size: 30px;
	color: #ffffff;
}

.hexagon:hover > i {
	color: #12bf98;
}

.sub-intro div .hexagon:hover {
	width: 100px;
	height: 100px;
	background: #fff;
}