@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@import 'navbar.css';
@import 'home.css';
@import 'intro.css';
@import 'services.css';
@import 'contact.css';
@import 'projects.css';
@import 'team.css';
@import 'about.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', 'sans-serif';
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #fbfbfb;
}